.idea
*.sqlite
*.env
logflare.env
__pycache__
google-services.json
logflare_env
.mypy_cache
.pytest_cache
.ruff_cache
.venv/
.venv-win/
venv/
*.pyc
docker-compose.override.yaml
tests/_test.sqlite
tests/fixtures/
/clients/Python-Logger/
